html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 12pt;
}

.fill {
	height: 100%;
    min-height: 100%;
}

#game-holder {
	background-color: rgb(230, 255, 255);
	width: 600px;
	height: 300px;
	position:relative;
}
